@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 500; /* Medium */
  background-color: #ffffff;
  color: #000000;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

/* Убираем подчеркивание и красим ссылки в черный */
a {
  text-decoration: none !important;
  color: inherit;
}

/* Для жирных элементов (заголовки, кнопки) */
b, strong, .bold {
  font-weight: 700; /* Bold */
}

pre {
  font-family: inherit; /* Чтобы ASCII тоже пытался быть в стиле, если не SVG */
}
